body {
    background-color: #ddd;
    margin: 10px;
    text-align: left;
}

.pdfviform fieldset,
.pdfviform fieldset legend {
    background-color: #fff;
    border: none;
}

#pdfviitemcontainer {
    background-color: #eee;
    height: 300px;
    overflow: auto;
    padding: 5px;
}

#pdfviitemcontainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#pdfviitemcontainer a {
    color: #000;
    margin: 0.1em 0.2em;
    text-decoration: underline;
}
#pdfviitemcontainer a:hover,
#pdfviitemcontainer a:focus,
#pdfviitemcontainer a:active {
    color: #900;
    text-decoration: none;
}

#pdfviitemcontainer a img {
    border: none;
}

#pdfviitemcontainer a img {
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    padding: 0.5em;
}
#pdfviitemcontainer a:hover img,
#pdfviitemcontainer a:focus img,
#pdfviitemcontainer a:active img {
    background-color: #fff;
}
